/* *{
    padding: 0px;
    margin: 0px;
} */
#external{
    background-color: bisque;
    color: brown;
}
.box{
    /* height: 200px; */
    width: 200px;
    background: #000;
    color: #ffcece;
    text-align: center;
    padding:30px;
    border-radius: 10px;

}
.box:hover{
    background: #ffcece;
}
.flex{
    height: 200px;
    width: 500px;
    border: 2px solid black;
    display: flex;
    gap: 10px;
}
.flex1{
    height: 100px;
    width: 300px;
    background-color: #d851cd;
    display: flex;
    justify-content: center;
    align-items: center;
}
